:root {
  --skyblue: rgb(135, 206, 235, 0.2);
  --yellow: rgb(255, 255, 0, 0.1);
  --horizontal-margin: 20px;
  --customized-black: rgba(0, 0, 0, 0.5);
  --customized-white:#fafafa;
  --gray: rgb(100, 100, 100);
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
}
