.more-screen .icon-row {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.more-screen .icon-row .icon-row__icon {
  width: 25%;
  margin-bottom: 30px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 20px;
}

.more-suggestions__title {
  margin-bottom: 20px;
}

.more-suggestions__icon-image {
  display: flex;
  justify-content: center;
}

.more-suggestions__icon-image img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin-bottom: 10px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: flex-start;
}

.more-suggestions__icons__icon {
  margin-right: 30px;
}
