.more-screen .icons-row {
  margin-top: 40px;
  flex-wrap: wrap;
}

.more-screen .icons-row .icons-row__icon {
  width: 25%;
  margin-bottom: 20px;
}

.more-suggestions {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  display: flex;
  flex-direction:column;
  margin-right: 30px;
}

.more-suggestions__icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 15%;
  margin-right: 40px;
  margin-bottom: 10px;
  background-color: yellow;
}
