.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--customized-white);
  padding: 20px 40px;
  border-top: 1px solid var(--customized-black);
  box-sizing: border-box; /*css의 box-size를 고정함 -> padding에 의해 box-size가 늘어나는 일이 없음.*/
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: darkslateblue;
  position: relative;
}

.nav__btn{
  position:relative;
}

.nav__notification {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size:16px;
  font-weight: 600;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.ellipsis__notification{
  background-color:red;
  width:5px;
  height:5px;
  border-radius:50%;
  position:absolute;
  bottom:25px;
  left:30px;
}