.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-margin);
}

.screen-header__title {
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
